.answers {
  margin-top: .5em;
}

.compareWrapper {
  height: 40px;
}

.table {
  &__header {
    text-align: left;
  }

  &__header,
  &__cell {
    &:not(:first-child) {
      padding-left: .35em;
    }
  }
}
